div
  a(href="/") Frontpage
  | &nbsp;- 
  a(href="/config/companion") companion
  | &nbsp;- 
  a(href="/config/dominant") dominant
  | &nbsp;- 
  a(href="/config/missingtop") missing top
  | &nbsp;- 
  a(href="/config/topright") top right
br