nav.menu
  ul.menu
    - var frontPageClass = (key == '' ? 'active' : '');
    li
      a(href="/", class=frontPageClass) frontpage 
    each folder in folders.folders
      - var folderClass = (key && key === folder ? 'active' : '')
      li
        a(href="/config/#{folder}", class=folderClass)= folder
    
br