nav.mod
  div.inner.bd
    ul.mtl.tabs
      each folder in folders.folders
        - var folderClass = (key && key === folder ? 'active' : '')
        li(class=folderClass)
          a(href="/config/#{folder}", class=folderClass)= folder
    h2 Viser demoinnhold basert på "#{title}"
    br
