script(type='text/javascript', src='/javascripts/consolelogshim.js').
script(type='text/javascript', src='/javascripts/jquery.js').
script(type='text/javascript', src='/lib/jqueryui.position.min.js').

script(type='text/javascript', src='/webAds.config.js').
script(type='text/javascript', src='/webAds.config.test.js').        
script(type='text/javascript', src='/webAds.banners.js').
script(type='text/javascript', src='/webAds.logger.js').
script(type='text/javascript', src='/webAds.manager.js').
script(type='text/javascript', src='/webAds.manager.plugins.js').
script(type='text/javascript', src='/webAds.plugin.swfobject.js').
script(type='text/javascript', src='/webAds.sticky.js').

