script(type='text/javascript', src='/javascripts/consolelogshim.js')
script(type='text/javascript', src='/javascripts/jquery.js')
script(type='text/javascript', src='/webAds.config.js')
script(type='text/javascript', src='/webAds.config.test.js')        
script(type='text/javascript', src='/webAds.plugins.js')
script(type='text/javascript', src='/webAds.plugin.swfobject.js')            
script(type='text/javascript', src='/webAds.banners.js')
script(type='text/javascript', src='/webAds.manager.js')