@media screen and (max-width: 1024px) {
  #banners {
    max-width: 100%;
    overflow: hidden;
  }
  #banners .webad-top .webad-inner {
      text-align: left;
  }
  .webad-middle {
    overflow: hidden;
    clear: both;
  }
}