.webad-hidden,
.webad-failed {
    display: none;
}
.webad-iframe {
    display: inline-block;
    vertical-align: bottom;
}

#banners {
    position: relative;
    z-index: 2;
    min-height: 150px;
    width: 980px;
    padding-bottom: 10px;
    overflow: visible;
}

.so-v1 aside.banners {
    margin: 10px 0 0 0px;
}

.top-position-collapsed #banners {
    height: 0;
    min-height: 0;
    padding-bottom: 0;
    overflow: visible;
}
#banners .webad {
    z-index: 2;
}

#banners .webad-top .webad-inner {
    text-align: right;
}




#banners-right,
#banners > .webad-right2 {
    position: absolute;
    top: 0;
    left: 992px;
    z-index: 2;    
}

#banners-right .webad-inner{
    margin-bottom: 10px;
}

#banners > .webad-sticky .webad-inner {
    position: fixed;
    top: 10px;
    z-index: 2;
}

#banners .webad-left1 {
    position: absolute;
    top: 0;
    left: -240px;
    z-index: 2;    
}

.webad-middle .webad-inner {
  margin: 10px;
  text-align: center;
}

/* dominant campaign */
.has-dominant-campaign {
    padding: 10px 0 0 0;
}

.has-dominant-campaign .wrapper,
.has-dominant-campaign .page {
    margin: 0 auto;
}
.has-dominant-campaign .page {
  padding: 0 2px 0 12px;
}


.webad-mobilebottom {
    background-color: #fff;
    bottom:0;
    z-index:999;
    position:fixed;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)));
    text-align: center;
    width: 100%;
    -webkit-box-shadow: 0 -3px 7px #ccc;
    box-shadow: 0 -3px 7px #ccc;
}

.webad-mobilebottom .dismiss-sticky {
    position: absolute;
    top: 2px;
    right: 5px;
    z-index:1000;
    background-color: transparent;
    color: #fff;
    font-size:20px;
    padding: 0;
    width: 28px;
    background: #000;
    border: 2px solid #fff;
    -webkit-border-radius:2em;
    border-radius: 2em;
    box-shadow: 0 0 4px #000000;
}

