!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/swfobject.js')
    script(type='text/javascript', src='/webAds.config.js')
    script(type='text/javascript', src='/webAds.plugins.js')
    script(type='text/javascript', src='/webAds.banners.js')
    script(type='text/javascript', src='/webAds.js')    
    script(type='text/javascript', src='/javascripts/master.js')
  body!= body