.webad-hidden,
.webad-failed,
.has-no-top-placement .webad-top .inner{
    display: none;
}
.webad iframe {
    display: inline-block;
    vertical-align: bottom;
}


.has-dominant-campaign {
    padding: 10px 0 0 0;
}

.has-dominant-campaign .wrapper,
.has-dominant-campaign .page,
.has-dominant-campaign #banners {
    margin: 0 auto;
}

#banners {
    position: relative;
    z-index: 1;
    min-height: 150px;
    width: 980px;
    padding-bottom: 12px;
    overflow: visible;
}
.has-no-top-placement #banners {
    height: 0;
    min-height: 0;
    padding-bottom: 0;
}
#banners .webad {
    z-index: 2;
}
#banners .webad-top .inner {
    text-align: right;
}
#banners > .webad-right2 {
    position: absolute;
    top: 0;
    left: 992px;
}

#banners .webad-sticky .inner {
  position: fixed;
  top: 10px;
}

#banners .webad-left1 {
    position: absolute;
    top: 0;
    left: -240px;
}