.webad-hidden .inner,
.webad-failed .inner,
body.has-no-top-placement .webad-top .inner{
    display: none;
}
body.has-no-top-placement aside.banners {
    height: 0;
    padding-bottom: 0;
}

body.has-dominant-campaign {
  padding: 10px 0 0 0;
}
body.has-dominant-campaign .wrapper,
body.has-dominant-campaign aside.banners {
    margin: 0 auto;
}

aside.banners {
    position: relative;
    z-index: 1;
    height: 150px;
}
aside.banners .webad .inner{
    z-index: 2;
}
.webad-top .inner {
    text-align: right;
}
.webad-right2 .inner {
    position: absolute;
    top: 0;
    left: 992px;
}
.webad-left1 .inner {
    position: absolute;
    top: 0;
    left: -240px;
}