!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/consolelogshim.js')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/webAds.config.js')
    script(type='text/javascript', src='/webAds.plugins.js')
    script(type='text/javascript', src='/webAds.plugin.swfobject.js')            
    script(type='text/javascript', src='/webAds.banners.js')
    script(type='text/javascript', src='/webAds.manager.js')    
    script(type='text/javascript', src='/javascripts/companion.js')
  body
    ul.actions
      li 
        a#refreshAll(href="#action=RefreshAll") Update all

    div.webads#banners

    div.container
      div container