!!!5
html(lang='no')
  head
    title= title
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="viewport", content="width=device-width,minimum-scale=1,maximum-scale=1")
    link(rel='stylesheet', href='/stylesheets/all.css')    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/webAds.logger.css')
    include partials/scripts
    script(type='text/javascript', src='/javascripts/index.js')
  body
    ul.actions
      li 
        a#refreshAll(href="#action=RefreshAll") Update all
      
    
    include partials/menu
    
    div(data-webads="true")#banners
    h1= title
    p Lorem Ipsum har vært bransjens standard for dummytekst helt siden 1500-tallet, da en ukjent boktrykker stokket en mengde bokstaver for å lage et prøveeksemplar av en bok. Lorem Ipsum har tålt tidens tann usedvanlig godt, og har i tillegg til å bestå gjennom fem århundrer også tålt spranget over til elektronisk typografi uten vesentlige endringer. Lorem Ipsum ble gjort allment kjent i 1960-årene ved lanseringen av Letraset-ark med avsnitt fra Lorem Ipsum, og senere med sideombrekkingsprogrammet Aldus PageMaker som tok i bruk nettopp Lorem Ipsum for dummytekst.

    ul.actions
      li 
        a#lazyLoad(href="#action=lazyLoad") Lazy load
    div(data-webads="lazy", data-webad-position="lazy")
    
    ul.tabs
      li tab1
      li tab2
      li tab3
      li tab4
      li tab5

    div.tabs
      h1 Tab1
      div(data-webads="true")#banner-tab




    
    
