!!!5
html(lang='no')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/all.css')    
    link(rel='stylesheet', href='/webAds.css')
    include partials/scripts
    style
      * {margin: 0; padding: 0;}
      body {
        padding: 10px
      }
      .container {
        width: 960px;
        padding: 10px;
        background: #ccc;
        min-height: 2900px;
      }
      p {
        margin: 0 0 10px 0;
      }

  body(lang='no')
  
    div(data-webads="true")#banners
      div(data-webads="true")#banners-right
      
    div.wrapper.container.page
      h1= title
      br
      include partials/menu      
      div(data-webads="true")#banners-middle
    
    script(type='text/javascript')
      var FINN = FINN||{};
      jQuery(document).ready(function(){
        // adBlocker
        if(!FINN.webAds) return;

        FINN.webAds.base      = "/config/";    
        FINN.webAds.iframeUrl = "/iframe.html";
        
        FINN.webAds.one('all-webads-resolved', function(){  
          FINN.webAds.sticky('banners-right'); 
        });
        
        FINN.webAds.getFromServer('/config/#{key}/heliosAds', function(err, data){
            FINN.webAds.renderAll(); //todo, render same as defined.
        });
        
        

      });
