!!!
html
  head
    title= title
    link(rel='stylesheet', href='/webAds.css')
    include partials/scripts
    style
      .container {
        width: 960px;
        padding: 10px;
        background: #ccc;
        min-height: 900px;
      }
      p {
        margin: 0 0 10px 0;
      }

  body
  
    aside.webads#banners  
    div.wrapper.container
      p Container
      include partials/menu      
      div#banners-middle
    
    script
      var FINN = FINN||{};
      jQuery(document).ready(function(){
        // adBlocker
        if(!FINN.webAds) return;

        FINN.webAds.base      = "/config/";    
        FINN.webAds.iframeUrl = "/iframe.html";

        //TODO URL
        FINN.webAds.getFromServer('/config/missingtop/heliosAds', function(err, data){
            FINN.webAds.renderAll();
        });

      });
